<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=0.5, maximum-scale=0.5, width=device-width, height=device-height" /> -->

        <title>Leaderboard</title>
		<link rel="stylesheet" type="text/css" href="css/site.css" />
        <style>
            .top-bar {
                position: absolute;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="app leaderboard">
			<div class="top-bar">
				<div class="main-back">
					<a href="main.html" rel="external" data-role="button"><img src="img/icn-back.png" /></a>
				</div>
				<div class="menu">
					<a href="main.html" rel="external" data-role="button"><img src="img/icn-menu.gif" /></a>
				</div>
			</div>
            <div class="logo"><img src="img/img-leaderboard.png" /></div>
			<table id="template-container"></table>
            
        </div>
		        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
		<script type="text/html" id="template">
			<tr class="entry">
				<td></td>
				<td class="rank">${rank}</td>
				<td></td>
			</tr>
			<tr class="entry">
				<td>
					{{if rank%2 == 0 }}
						<div class="name">
							${ firstName + " " + lastName }
						</div> 
						<div class="points" style="text-align:right;">
							${totalPoints}
						</div>
					{{/if}}
				</td>
				<td><img class="avatar" src="${image}" /></div></td>
				<td>
					{{if rank%2 == 1 }}
						<div class="name">
							${ firstName + " " + lastName }
						</div>
						<div class="points" style="text-align:left;">
							${totalPoints}
						</div>
					{{/if}}
				</td>					
			</tr>
		</script>
        <script type="text/javascript">
        	var app = {
        		// Application Constructor
        		initialize: function () {
        			this.bindEvents();
        		},
        		// Bind Event Listeners
        		//
        		// Bind any events that are required on startup. Common events are:
        		// 'load', 'deviceready', 'offline', and 'online'.
        		bindEvents: function () {
        			document.addEventListener('deviceready', this.onDeviceReady, false);
        		},
        		// deviceready Event Handler
        		//
        		// The scope of 'this' is the event. In order to call the 'receivedEvent'
        		// function, we must explicity call 'app.receivedEvent(...);'
        		onDeviceReady: function () {
        			app.receivedEvent('deviceready');

        			$.get('http://snackathon.azurewebsites.net/game/leaderboard', function (data) {
        				$("#template").tmpl(data).appendTo("#template-container");
        			})
        		},
        		// Update DOM on a Received Event
        		receivedEvent: function (id) {
        			console.log('Received Event: ' + id);
        		}
        	};

            app.initialize();

            if (typeof cordova === 'undefined')
                $(function () {
                    app.onDeviceReady();
                });
        </script>
    </body>
</html>
