
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #E6E8E8;
}

.app {
	width: 100%;
	overflow-x: hidden;
	position: relative;
}

.header-image 
{
	padding-top:50px;	
}

.logo {
	padding-top:40px;
	text-align: center;
}


.logo img {
	max-width: 60%;
}

.top-bar div
{
	padding:1em;
}

.top-bar img 
{
	max-width:50%;
	max-height:50%;
}

.top-bar .main-back  
{
	float: left;
}
.top-bar .menu   
{
	float: right;
	text-align: right;
}

.top-bar .main-back img,
.top-bar .menu img {
	max-width: 90%;
}

input 
	{
		background-image:url('../img/img-textfield-bkgd.png');
		/*width:100%;*/
		text-align:center;
		/*padding:20px;*/
		font-size:3em;
		display:block;
		border:none;
	}
	
	.eye-bleeder 
	{
		color: Red;
		font-weight:bold;
		font-size:20px;			
	}
	
	.avatar 
	{
		height:100px;
		width:100px;
		 border-radius: 50px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
	}
	
	#template-container td 
	{
		text-align:center;
	}
	
	.leaderboard, .leaderboard table
	{
		text-align:center;
		margin:0 auto;
	}
		
	.leaderboard .entry .rank 
	{
		color:#50216c;
		font-size:3em;
		font-weight:bold;
		padding-top: 8px;
		padding-bottom: 5px;
	}
	
	.leaderboard .entry .name 
	{
		color:#f95424;
		font-size:2em;
		padding:0 5px;
	}
	
	.leaderboard .entry .points 
	{
		color:#606060;
		font-size:2.75em;
		padding:0 5px;
	}
	
	
.button {
	max-width: 80%;
}

div.sep img {
	max-width: 100%;
}

div.sep {
	text-align: center;
}

div.buffer {
	margin-top: 20px;
}

div.deal {
	text-align: center;
	padding: 10px;
}

div.deal img {
	max-width: 90%;
}