.logo {
	text-align: center;
}

body {
	font-size: 2.25em;
}

td {
	color: #666;
	padding: 0 0 0 30px;
}

td.value {
	color: #333;
	font-size: 3em;
	padding-right: 30px;
	text-align: right;
}

td.count {
	color: #333;
	font-size: 4.5em;
	padding-right: 30px;
	text-align: right;
}